<head th:fragment="header">
    <title>Videogames :: A spring boot baseline project with Kotlin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="A spring boot baseline project with Kotlin.">
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
